@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
/* font-family: 'Inter',
sans-serif; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f5ff;
  height: 100vh;
  position: relative;
}

/* ## Main form body styleing*/
#Main_form_bdoy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

/* ## MAIN FORM STYLEING */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  max-width: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form h2 {
  font-family: "Inter", sans-serif;
  font-family: 20px;
  color: #4b668e;
  margin-bottom: 0;
}

form p {
  font-family: "Inter", sans-serif;
  color: #434b579d;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
}

.input {
  border: 2px solid #f2f5ff;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
}

.input input {
  max-width: 84%;
  max-height: 90%;
  border: none;
}

.input input:focus {
  outline: none;
}

.input_one i,
.input_two i {
  font-size: 20px;
  color: #277ffe;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 16px;
}

.submit_btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 105%;
  background-color: #277ffe;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.signup_text {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: #434b579d;
  margin-top: 10px;
}

.signup_text a {
  text-decoration: none;
  margin-left: 3px;
  color: #277ffe;
}

.signup_text a:hover {
  text-decoration: underline;
}

.sign_in_text {
  margin-top: 30px;
}
